/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 2550px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1700px) and (max-width: 2099.98px) {
}

/*// Extra large devices (large desktops, 1440px and up)*/
@media (min-width: 1440px) and (max-width: 1699.98px) {
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1439.98px) {
}

/*// Large devices (desktops, 992px and up)*/
@media (max-width: 1199.98px) {
  .wrapper .LeftItem .TopItem a img {
    width: 120px;
  }
  .wrapper .LeftItem .TopItem {
    min-height: 35px;
  }
  .wrapper .LeftItem nav .navList .navItem .navLink,
  .wrapper .LeftItem nav .navList .accordion-button {
    font-size: 14px;
    gap: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wrapperLoos .rightItem {
    width: 90%;
    margin-left: 10%;
  }
  .wrapperLoos header {
    width: 90%;
    margin-left: 10%;
  }
  .wrapper .LeftItem.highlighted {
    width: 10%;
  }
  .wrapper .LeftItem nav .navList .accordion-button::before {
    width: 3px;
  }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
}

/*Extra small devices (portrait phones, less than 414px)*/
@media (max-width: 414px) {
}

/*Extra small devices (portrait phones, less than 375px)*/
@media (max-width: 375px) {
}

/*Extra small devices (portrait phones, less than 360px)*/
@media (max-width: 360px) {
}

/*Extra small devices (portrait phones, less than 320px)*/
@media (max-width: 320px) {
}

/* 
2560*1440
2160*1440
1920×1080
1600×900
1536×864
1440×900
1366×768    
1280×720    
1280×800    
1280×1024   
1024×768    
768×1024
 */
